<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<% if current_user %>
    Logged in as <%= current_user.email %>
    <%= link_to "Sign Out", signout_path %>
    <% else %>
    <%= link_to "Sign In", signin_path %>
    <%= link_to "Sign Up", signup_path %>
    <% end %>

<h1>Pages#home</h1>
<%= link_to "Listings", listings_path %>
<%= link_to "Create New Listings", new_listing_path %>


