<h1>All Listings</h1>
<%# Using Bootstrap to style using card / grid styling %>
<div class="row">
    <% @listings.each do |listing| %>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="listings-image">
                <%# This logic ensures that an default image is provided if no image for listing was provided %>
                    <% if listing.image.attached? %>
                        <%= image_tag listing.image, alt: listing.title %>
                    <% else %>
                        <%= link_to image_tag("listing_default.jpeg", alt: "Sunday Market Listing"), listing_path(listing.id) %>
                    <% end %>
                </div>
                <div class="listings-body">
                    <h3><%= link_to listing.title, listing_path(listing.id) %></h3>
                    <p><%= listing.description %></p>
                    <%# Converts integer to currency %>
                    <h4><%= number_to_currency(listing.price) %></h4>
                    <%= link_to "See More", listing_path(listing.id), class:"btn btn-primary" %>
                </div>
            </div>
        </div>
    <% end %>
</div>
